## Model 1.0

In [1]:
#import libs
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(rc={'figure.figsize':(14,6)})

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn. ensemble import RandomForestClassifier, BaggingClassifier, AdaBoostClassifier, VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [122]:
train= pd.read_csv('train_modified.csv')
test= pd.read_csv('test_modified.csv')

In [121]:
train['Interest_Rate'] = train['Interest_Rate'].astype(int)
x_train = train.drop(labels = ['Unnamed: 0','Loan_ID','Interest_Rate'
                               ,'Gender_Female','Gender_Male'],axis = 1) 
y_train = train['Interest_Rate']

In [86]:
x_train.columns

Index(['Loan_Amount_Requested', 'Annual_Income', 'Debt_To_Income',
       'Inquiries_Last_6Mo', 'Months_Since_Deliquency', 'Number_Open_Accounts',
       'Total_Accounts', 'Length_Employed_E', 'Length_Employed_L',
       'Length_Employed_M', 'Length_Employed_exp_NA', 'Home_Owner_Mortgage',
       'Home_Owner_Other', 'Home_Owner_Own', 'Home_Owner_Rent',
       'Income_Verified_VERIFIED - income', 'Income_Verified_not verified',
       'Purpose_Of_Loan_car', 'Purpose_Of_Loan_credit_card',
       'Purpose_Of_Loan_debt_consolidation', 'Purpose_Of_Loan_educational',
       'Purpose_Of_Loan_home_improvement', 'Purpose_Of_Loan_house',
       'Purpose_Of_Loan_major_purchase', 'Purpose_Of_Loan_medical',
       'Purpose_Of_Loan_moving', 'Purpose_Of_Loan_other',
       'Purpose_Of_Loan_renewable_energy', 'Purpose_Of_Loan_small_business',
       'Purpose_Of_Loan_vacation', 'Purpose_Of_Loan_wedding'],
      dtype='object')

### Decision Tree Classifier

In [87]:
y_train.head()

0    1
1    3
2    3
3    3
4    1
Name: Interest_Rate, dtype: int32

In [123]:
# Split the train and the validation set for the fitting
X_train, X_val, Y_train, Y_val = train_test_split(x_train, y_train, test_size = 0.1, random_state=2)

In [89]:
#descision tree
dt = DecisionTreeClassifier()
dt.fit(X_train,Y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [90]:
dt.score(X_val,Y_val)

0.43113626681273204

In [91]:
dt.score(X_train,Y_train)

1.0

### Random Forrest Classifier

In [92]:
#Random Forest - Ensemble of Descision Trees

rf = RandomForestClassifier(n_estimators=40)
rf.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=40,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [93]:
rf.score(X_val,Y_val)

0.5068468139492422

In [94]:
test.columns

Index(['Unnamed: 0', 'Loan_ID', 'Loan_Amount_Requested', 'Annual_Income',
       'Debt_To_Income', 'Inquiries_Last_6Mo', 'Months_Since_Deliquency',
       'Number_Open_Accounts', 'Total_Accounts', 'Length_Employed_E',
       'Length_Employed_L', 'Length_Employed_M', 'Length_Employed_exp_NA',
       'Home_Owner_Mortgage', 'Home_Owner_Other', 'Home_Owner_Own',
       'Home_Owner_Rent', 'Income_Verified_VERIFIED - income',
       'Income_Verified_not verified', 'Purpose_Of_Loan_car',
       'Purpose_Of_Loan_credit_card', 'Purpose_Of_Loan_debt_consolidation',
       'Purpose_Of_Loan_educational', 'Purpose_Of_Loan_home_improvement',
       'Purpose_Of_Loan_house', 'Purpose_Of_Loan_major_purchase',
       'Purpose_Of_Loan_medical', 'Purpose_Of_Loan_moving',
       'Purpose_Of_Loan_other', 'Purpose_Of_Loan_renewable_energy',
       'Purpose_Of_Loan_small_business', 'Purpose_Of_Loan_vacation',
       'Purpose_Of_Loan_wedding', 'Gender_Female', 'Gender_Male'],
      dtype='object')

In [95]:
x_test= test.drop(labels=['Unnamed: 0','Loan_ID','Gender_Female', 'Gender_Male'],axis=1)
pred =rf.predict(x_test)

In [96]:
pred

array([3, 1, 2, ..., 2, 3, 2])

In [97]:
sub = pd.DataFrame({'Loan_ID': test['Loan_ID'], 'Interest_Rate': pred})

In [98]:
sub

           Loan_ID  Interest_Rate
0       10164310.0              3
1       10164311.0              1
2       10164312.0              2
3       10164313.0              2
4       10164314.0              2
...            ...            ...
109536  10273846.0              3
109537  10273847.0              2
109538  10273848.0              2
109539  10273849.0              3
109540  10273850.0              2

[109541 rows x 2 columns]

In [101]:
sub.columns

Index(['Loan_ID', 'Interest_Rate'], dtype='object')

In [102]:
#sub.to_csv('submission_1.csv',index=False)

### Bagging of Decision Tree

In [103]:
#Bagging 

bg = BaggingClassifier(DecisionTreeClassifier(), max_samples= 0.5, max_features = 1.0, n_estimators = 25)
bg.fit(X_train,Y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(ccp_alpha=0.0,
                                                        class_weight=None,
                                                        criterion='gini',
                                                        max_depth=None,
                                                        max_features=None,
                                                        max_leaf_nodes=None,
                                                        min_impurity_decrease=0.0,
                                                        min_impurity_split=None,
                                                        min_samples_leaf=1,
                                                        min_samples_split=2,
                                                        min_weight_fraction_leaf=0.0,
                                                        presort='deprecated',
                                                        random_state=None,
                                                        splitter='best'),
                  bootstrap=True, bootstrap_features=False, max_features=1.0,
                  max_samples=0.5, n_estimators=25, n_jobs=None,
                  oob_score=False, random_state=None, verbose=0,
                  warm_start=False)

In [104]:
bg.score(X_val,Y_val)

0.5048384151907979

### Adaboost

In [51]:
#Boosting - Ada Boost

adb = AdaBoostClassifier(DecisionTreeClassifier(),n_estimators = 10, learning_rate = 1)
adb.fit(X_train,Y_train)

AdaBoostClassifier(algorithm='SAMME.R',
                   base_estimator=DecisionTreeClassifier(ccp_alpha=0.0,
                                                         class_weight=None,
                                                         criterion='gini',
                                                         max_depth=None,
                                                         max_features=None,
                                                         max_leaf_nodes=None,
                                                         min_impurity_decrease=0.0,
                                                         min_impurity_split=None,
                                                         min_samples_leaf=1,
                                                         min_samples_split=2,
                                                         min_weight_fraction_leaf=0.0,
                                                         presort='deprecated',
                                                         random_state=None,
                                                         splitter='best'),
                   learning_rate=1, n_estimators=10, random_state=None)

In [52]:
adb.score(X_val,Y_val)

0.4347879009189946

### XGBoost

In [124]:
Y_train.replace({1:0,2:1,3:2},inplace=True)
Y_val.replace({1:0,2:1,3:2},inplace=True)

In [125]:
Y_train= pd.to_numeric(Y_train)
Y_val= pd.to_numeric(Y_val)

In [126]:
np.unique(Y_train)

array([0, 1, 2], dtype=int64)

In [136]:
import xgboost as xgb

D_train = xgb.DMatrix(X_train, label=Y_train)
D_test = xgb.DMatrix(X_val, label=Y_val)

param = {
    'eta': 0.1, 
    'max_depth': 6,  
    'subsample': 0.8,
    'colsample_bytree': 0.75,
    'objective': 'multi:softprob',  
    'num_class': 3} 

steps = 1000  # The number of training iterations
model = xgb.train(param, D_train, steps)

In [137]:
import numpy as np
from sklearn.metrics import precision_score, recall_score, accuracy_score

preds = model.predict(D_test)
best_preds = np.asarray([np.argmax(line) for line in preds])

print("Precision = {}".format(precision_score(Y_val, best_preds, average='macro')))
print("Recall = {}".format(recall_score(Y_val, best_preds, average='macro')))
print("Accuracy = {}".format(accuracy_score(Y_val, best_preds)))

Precision = 0.5310321235036699
Recall = 0.494863794196611
Accuracy = 0.5350861177043393

In [129]:
x_test= test.drop(labels=['Unnamed: 0','Loan_ID','Gender_Female', 'Gender_Male'],axis=1)
D_test = xgb.DMatrix(x_test)

In [130]:
preds = model.predict(D_test)
best_preds = np.asarray([np.argmax(line) for line in preds])

In [131]:
sub = pd.DataFrame({'Loan_ID': test['Loan_ID'], 'Interest_Rate': best_preds})

In [132]:
sub

           Loan_ID  Interest_Rate
0       10164310.0              2
1       10164311.0              0
2       10164312.0              2
3       10164313.0              1
4       10164314.0              1
...            ...            ...
109536  10273846.0              2
109537  10273847.0              1
109538  10273848.0              1
109539  10273849.0              2
109540  10273850.0              2

[109541 rows x 2 columns]

In [133]:
sub['Loan_ID'] = sub['Loan_ID'].astype(int)
sub.replace({0:1,1:2,2:3},inplace=True)

In [134]:
sub

         Loan_ID  Interest_Rate
0       10164310              3
1       10164311              1
2       10164312              3
3       10164313              2
4       10164314              2
...          ...            ...
109536  10273846              3
109537  10273847              2
109538  10273848              2
109539  10273849              3
109540  10273850              3

[109541 rows x 2 columns]

In [135]:
sub.to_csv('submission_3.csv',index=False)

---

## Exploring Classification Category-wise

### XGBoost Categorywise

In [116]:
frames=[]

train['Interest_Rate'] = train['Interest_Rate'].astype(int)
test['Loan_ID'] = test['Loan_ID'].astype(int)

for i in range(0,14):
    segment=dc[i]
    print(segment)
    x_t = train[train[dc[i]]==1.0]
    x_train = x_t.drop(labels = ['Unnamed: 0','Loan_ID','Interest_Rate','Gender_Female',
                                     'Gender_Male','Purpose_Of_Loan_car', 'Purpose_Of_Loan_credit_card',
                                     'Purpose_Of_Loan_debt_consolidation', 'Purpose_Of_Loan_educational',
                                     'Purpose_Of_Loan_home_improvement', 'Purpose_Of_Loan_house',
                                     'Purpose_Of_Loan_major_purchase', 'Purpose_Of_Loan_medical',
                                     'Purpose_Of_Loan_moving', 'Purpose_Of_Loan_other',
                                     'Purpose_Of_Loan_renewable_energy', 'Purpose_Of_Loan_small_business',
                                     'Purpose_Of_Loan_vacation', 'Purpose_Of_Loan_wedding'],axis = 1) 
    y_train = x_t['Interest_Rate']
    #X_train, X_val, Y_train, Y_val = train_test_split(x_train, y_train, test_size = 0.1, random_state=2)
    X_train, Y_train = x_train, y_train

    Y_train.replace({1:0,2:1,3:2},inplace=True)
    #Y_val.replace({1:0,2:1,3:2},inplace=True)
    Y_train= pd.to_numeric(Y_train)
    #Y_val= pd.to_numeric(Y_val)

    D_train = xgb.DMatrix(X_train, label=Y_train)
    #D_test = xgb.DMatrix(X_val, label=Y_val)

    param = {
        'eta': 0.2, 
        'max_depth': 4,  
        'subsample': 0.8,
        'colsample_bytree': 0.5,
        'objective': 'multi:softprob',  
        'num_class': 3} 

    steps = 1000  # The number of training iterations
    model = xgb.train(param, D_train, steps)

    X_T = test[test[dc[i]]==1.0]
    x_test = X_T.drop(labels = ['Unnamed: 0','Loan_ID','Gender_Female',
                                     'Gender_Male','Purpose_Of_Loan_car', 'Purpose_Of_Loan_credit_card',
                                     'Purpose_Of_Loan_debt_consolidation', 'Purpose_Of_Loan_educational',
                                     'Purpose_Of_Loan_home_improvement', 'Purpose_Of_Loan_house',
                                     'Purpose_Of_Loan_major_purchase', 'Purpose_Of_Loan_medical',
                                     'Purpose_Of_Loan_moving', 'Purpose_Of_Loan_other',
                                     'Purpose_Of_Loan_renewable_energy', 'Purpose_Of_Loan_small_business',
                                     'Purpose_Of_Loan_vacation', 'Purpose_Of_Loan_wedding'],axis = 1)
    
    D_test = xgb.DMatrix(x_test)
    
    preds = model.predict(D_test)
    best_preds = np.asarray([np.argmax(line) for line in preds])
    
    sub = pd.DataFrame({'Loan_ID': X_T['Loan_ID'], 'Interest_Rate': best_preds})
    sub['Loan_ID'] = sub['Loan_ID'].astype(int)
    sub.replace({0:1,1:2,2:3},inplace=True)
    
    frames.append(sub)

Purpose_Of_Loan_car

E:\Anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

Purpose_Of_Loan_credit_card
Purpose_Of_Loan_debt_consolidation
Purpose_Of_Loan_educational
Purpose_Of_Loan_home_improvement
Purpose_Of_Loan_house
Purpose_Of_Loan_major_purchase
Purpose_Of_Loan_medical
Purpose_Of_Loan_moving
Purpose_Of_Loan_other
Purpose_Of_Loan_renewable_energy
Purpose_Of_Loan_small_business
Purpose_Of_Loan_vacation
Purpose_Of_Loan_wedding

In [117]:
sub4 = pd.concat(frames)

In [118]:
sub4

         Loan_ID  Interest_Rate
178     10164488              3
254     10164564              3
297     10164607              2
393     10164703              2
417     10164727              3
...          ...            ...
108021  10272331              3
108202  10272512              2
108429  10272739              3
108552  10272862              2
108980  10273290              1

[109541 rows x 2 columns]

In [119]:
#sub4.to_csv('submission_4.csv',index=False)

### Decision Tree C-wise

In [69]:
dc = {0:'Purpose_Of_Loan_car',
      1: 'Purpose_Of_Loan_credit_card',
      2:'Purpose_Of_Loan_debt_consolidation',
      3:'Purpose_Of_Loan_educational',
      4:'Purpose_Of_Loan_home_improvement',
      5:'Purpose_Of_Loan_house',
      6:'Purpose_Of_Loan_major_purchase', 
      7:'Purpose_Of_Loan_medical',
      8:'Purpose_Of_Loan_moving', 
      9:'Purpose_Of_Loan_other',
      10:'Purpose_Of_Loan_renewable_energy', 
      11:'Purpose_Of_Loan_small_business',
      12:'Purpose_Of_Loan_vacation',
      13:'Purpose_Of_Loan_wedding'}

In [32]:
train['Interest_Rate'] = train['Interest_Rate'].astype(int)

for i in range(0,14):
    segment=dc[i]
    x_t = train[train[dc[i]]==1.0]
    x_train = x_t.drop(labels = ['Unnamed: 0','Loan_ID','Interest_Rate','Gender_Female',
                                     'Gender_Male','Purpose_Of_Loan_car', 'Purpose_Of_Loan_credit_card',
                                     'Purpose_Of_Loan_debt_consolidation', 'Purpose_Of_Loan_educational',
                                     'Purpose_Of_Loan_home_improvement', 'Purpose_Of_Loan_house',
                                     'Purpose_Of_Loan_major_purchase', 'Purpose_Of_Loan_medical',
                                     'Purpose_Of_Loan_moving', 'Purpose_Of_Loan_other',
                                     'Purpose_Of_Loan_renewable_energy', 'Purpose_Of_Loan_small_business',
                                     'Purpose_Of_Loan_vacation', 'Purpose_Of_Loan_wedding'],axis = 1) 
    y_train = x_t['Interest_Rate']
    X_train, X_val, Y_train, Y_val = train_test_split(x_train, y_train, test_size = 0.1, random_state=2)
    rf = RandomForestClassifier(n_estimators=40)
    rf.fit(X_train,Y_train)
    print(rf.score(X_val,Y_val))

0.4708994708994709
0.4666121559007904
0.5114315139031926
0.6153846153846154
0.5242718446601942
0.48717948717948717
0.4941860465116279
0.5064935064935064
0.5816326530612245
0.5377245508982036
0.38461538461538464
0.5333333333333333
0.5357142857142857
0.42168674698795183

### DT with minor modification to training data

In [33]:
t=pd.read_csv('train_fNxu4vz.csv')
train2 = train
train2['Annual_Income']= t['Annual_Income']

In [34]:
train2[train2['Annual_Income']>1000000]=1000000

In [35]:
train2['Annual_Income'].mean()

73104.57148929294

In [36]:
train2['Annual_Income'].median()

63000.0

In [37]:
train2['Annual_Income'] = train2['Annual_Income'].fillna(50000)

In [38]:
for i in range(0,14):
    segment=dc[i]
    x_t = train2[train2[dc[i]]==1.0]
    x_train = x_t.drop(labels = ['Unnamed: 0','Loan_ID','Interest_Rate','Gender_Female',
                                     'Gender_Male','Purpose_Of_Loan_car', 'Purpose_Of_Loan_credit_card',
                                     'Purpose_Of_Loan_debt_consolidation', 'Purpose_Of_Loan_educational',
                                     'Purpose_Of_Loan_home_improvement', 'Purpose_Of_Loan_house',
                                     'Purpose_Of_Loan_major_purchase', 'Purpose_Of_Loan_medical',
                                     'Purpose_Of_Loan_moving', 'Purpose_Of_Loan_other',
                                     'Purpose_Of_Loan_renewable_energy', 'Purpose_Of_Loan_small_business',
                                     'Purpose_Of_Loan_vacation', 'Purpose_Of_Loan_wedding'],axis = 1) 
    y_train = x_t['Interest_Rate']
    X_train, X_val, Y_train, Y_val = train_test_split(x_train, y_train, test_size = 0.1, random_state=2)
    rf = RandomForestClassifier(n_estimators=40)
    rf.fit(X_train,Y_train)
    print(rf.score(X_val,Y_val))

0.48677248677248675
0.4641591714363587
0.5093717816683832
0.6153846153846154
0.5156418554476807
0.5128205128205128
0.4622093023255814
0.5584415584415584
0.5204081632653061
0.5532934131736527
0.5384615384615384
0.5375
0.5119047619047619
0.4939759036144578

### RF category-wise

In [39]:
frames=[]
train['Interest_Rate'] = train['Interest_Rate'].astype(int)
test['Loan_ID'] = test['Loan_ID'].astype(int)

for i in range(0,14):
    segment=dc[i]
    print(segment)
    x_t = train2[train2[dc[i]]==1.0]
    x_train = x_t.drop(labels = ['Unnamed: 0','Loan_ID','Interest_Rate','Gender_Female',
                                     'Gender_Male','Purpose_Of_Loan_car', 'Purpose_Of_Loan_credit_card',
                                     'Purpose_Of_Loan_debt_consolidation', 'Purpose_Of_Loan_educational',
                                     'Purpose_Of_Loan_home_improvement', 'Purpose_Of_Loan_house',
                                     'Purpose_Of_Loan_major_purchase', 'Purpose_Of_Loan_medical',
                                     'Purpose_Of_Loan_moving', 'Purpose_Of_Loan_other',
                                     'Purpose_Of_Loan_renewable_energy', 'Purpose_Of_Loan_small_business',
                                     'Purpose_Of_Loan_vacation', 'Purpose_Of_Loan_wedding'],axis = 1) 
    y_train = x_t['Interest_Rate']
    X_train, X_val, Y_train, Y_val = train_test_split(x_train, y_train, test_size = 0.01, random_state=2)
    rf = RandomForestClassifier(n_estimators=40)
    rf.fit(X_train,Y_train)
    
    
    X_T = test[test[dc[i]]==1.0]
    x_test = X_T.drop(labels = ['Unnamed: 0','Loan_ID','Gender_Female',
                                     'Gender_Male','Purpose_Of_Loan_car', 'Purpose_Of_Loan_credit_card',
                                     'Purpose_Of_Loan_debt_consolidation', 'Purpose_Of_Loan_educational',
                                     'Purpose_Of_Loan_home_improvement', 'Purpose_Of_Loan_house',
                                     'Purpose_Of_Loan_major_purchase', 'Purpose_Of_Loan_medical',
                                     'Purpose_Of_Loan_moving', 'Purpose_Of_Loan_other',
                                     'Purpose_Of_Loan_renewable_energy', 'Purpose_Of_Loan_small_business',
                                     'Purpose_Of_Loan_vacation', 'Purpose_Of_Loan_wedding'],axis = 1)
    pred= rf.predict(x_test)
    s = pd.DataFrame({'Loan_ID': X_T['Loan_ID'], 'Interest_Rate': pred})
    frames.append(s)

Purpose_Of_Loan_car
Purpose_Of_Loan_credit_card
Purpose_Of_Loan_debt_consolidation
Purpose_Of_Loan_educational
Purpose_Of_Loan_home_improvement
Purpose_Of_Loan_house
Purpose_Of_Loan_major_purchase
Purpose_Of_Loan_medical
Purpose_Of_Loan_moving
Purpose_Of_Loan_other
Purpose_Of_Loan_renewable_energy
Purpose_Of_Loan_small_business
Purpose_Of_Loan_vacation
Purpose_Of_Loan_wedding

In [40]:
sub2 = pd.concat(frames)

In [41]:
sub2

         Loan_ID  Interest_Rate
178     10164488              3
254     10164564              1
297     10164607              2
393     10164703              2
417     10164727              2
...          ...            ...
108021  10272331              2
108202  10272512              2
108429  10272739              3
108552  10272862              2
108980  10273290              2

[109541 rows x 2 columns]

In [42]:
sub2.columns

Index(['Loan_ID', 'Interest_Rate'], dtype='object')

In [43]:
#sub2.to_csv('submission_2.csv',index=False)

In [45]:
#test[~test.isin(sub2)].dropna()